@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Azeret Mono';
}
/*banner style start*/
.banner-conatiner {
  max-width: 1600px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  max-width: 1140px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 26px auto 44px;
}

.banner-content img {
  width: 210px;
  height: 228px;
}

.banner-text {
  width: 1140px;
  height: 310px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-titel {
  color: black;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.banner-descriptin {
  width: 994px;
  height: 73px;
  margin-top: 24px;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.button-primary {
  width: 170px;
  height: 50px;
  background-color: black;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.button-primary a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

/*banner style end*/

/*why web development style start*/

.webdevelopment-container {
  max-width: 1300px;
  height: 1100px;
  margin: 74px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.webdevelopment-content {
  width: 1140px;
  height: 1235px;
  margin: 80px auto;
}

.box-header {
  width: 1042px;
  height: 115px;
  margin: 0 auto 48px;
}

.box-container {
  width: 1044px;
  height: 240px;
  margin: 48px auto;
  background-color: #fcfcfc;
}

.box-header {
  text-align: center;
}

.box-titel {
  font-size: 35px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.box-description {
  font-size: 15px;
  color: rgb(25, 25, 25);
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.text-box {
  width: 500px;
  height: 225px;
  padding: 0;
}

.text-box-titel {
  align-items: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.text-box-description {
  margin-bottom: 5px;
}

.text-box-2 {
  width: 500px;
  height: 225px;
  padding: 0;
  margin: 0 240px 0 0;
}

.images {
  width: 300px;
}
/*why web development style end*/

/*my Inspiration style start*/

.Inspiration-container {
  max-width: 1300px;
  height: 700px;
  margin: 100px auto;
}

.inspiration-section {
  text-align: center;
  height: 700px;
}

.inspiration-titel {
  text-align: center;
  font-size: 30px;
  font-weight: 800px;
  margin-bottom: 20px;
}

.vedio-content {
  width: 800px;
  height: 500px;
  padding: 15px;
  text-align: center;
  margin: 50px auto;
  border: 1px solid #dcdada;
  border-radius: 15px;
}

/*my Inspiration style end*/
